:root
{
  /*
     --bgcolor: rgb(152, 144, 160);
  --primary: #f3a712;
  --secondary: #29335c;
  --tet: #1A6EED;

   
  --primary: #f3a712;
  --secondary: #29335c;
  --tet: #1A6EED;
  */
  --bgcolor: #f4f3ee;
  --primary: #ff3c38;
  --secondary: rgb(152, 144, 160);
  --tet: #3c70a7;
}
html
{
  height:100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 min-height:100;
 width:100%;
}
.loginPage
{
  display:grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--bgcolor);
  height:100vh;
  width:100%;

}
.leftSide
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3rem;
  font-size:3rem;
 
}
.leftSide > h1
{
  margin: 1rem 0rem;
  margin-bottom:2rem;
}
.leftSide > .img-container
{
  position:relative;
  z-index: 3;
  margin-bottom:5rem;

}
.leftSide > .img-container > .background
{
  background-color: var(--secondary);
  border-radius:100%;
  height:10rem;
  width:20rem;
  position:absolute;
  top:7rem;
  left:0;
  z-index: 1;
}
.leftSide > .img-container > img
{
  height:auto;
  width:25rem;
  margin-top:0;
  z-index: 2;
  position: relative;
}
.rightSide
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}
.rightSide-container
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  padding:1rem;
}
.rightSide-container > h2
{
  margin-bottom:3rem;
  font-size:4rem;
}
.rightSide-container > form
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:0.2rem;

  padding:1rem;

}
.rightSide-container > form > input
{
  font-size:2rem;

}
.rightSide-container > form > button
{
  margin-top:1rem;
  font-size:2rem;
  background-color: rgb(146, 253, 104);
  color:black;
}
.button
{
  background-color: var(--tet);
  color:white;
  font-size: 1.5rem;
  padding:0.4rem;
  border-radius:0.2rem;
  margin:0.2rem;
}
.Dashboard
{
  display:grid;
  grid-template-columns: 3fr 1fr;
}
.Sidebar
{
  position:fixed;
  top:0;
  overflow:hidden;

  background-color: var(--primary);
  width:15rem;
  height:100vh;
  transform:translateX(-100%);
  left:4rem;
  transition: 0.5s ease-in-out;
  z-index:3;
}
.Sidebar.hidden{
  transform: translateX(0%);
  transition: 0.5s ease-in-out;
  left:0rem;
}

.Dashboard > .RightSide
{
  background-color: var(--secondary);
  width:100%;
  height:100%;
}
.MainContent
{
  margin-left:4rem;
}
.Arrow
{
  pointer-events: none;
  position:absolute;
  width:3rem;
  height:0.8rem;
  content: " ";
  background-color: whitesmoke;
  transition:0.8s ease-in-out;
}
.Arrow.top
{
  transform:translate(1rem, 1rem)  rotate(45deg);
  /*background-color: yellow; */
  
}
.Arrow.middle
{
transform:translate(0rem, 1.75rem);
}
.Arrow.bottom
{
  transform:translate(1rem, 2.5rem)  rotate(-45deg);
  /*background-color: purple; */

}
.Arrow.top.clicked
{
  transform:translate(-0.75rem, 1rem) rotate(-45deg);
}
.Arrow.bottom.clicked
{
  transform:translate(-0.75rem, 2.5rem) rotate(45deg);
}
.Arrow.middle.clicked 
{
  transform:translate(0.25rem, 1.75rem);
}
.Arrow-container
{
  position:absolute;
  right:0;
  height:4rem;
  width:4rem;
 /* background-color: pink; */
  display:flex;
  margin-top:1rem;
}
a.button
{
  text-decoration: none;
}
.errorMessage
{
  font-size: 2rem;
  color:red;
  font-weight:500;
}